@{
    ViewBag.Title = "Nosotros";
}
<div class="row">
    <div class="col-md-3">
        <h2>Misión</h2>
        <ul>
            <li>Reserva junto a nosotros</li>
            <li><a asp-action="Contact">Reserva</a></li>
            <li><a href="#!">Listado de empleados Formato</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Visión</h2>
        <ul>
            <li><a href="#!">Consulta por tu habitación</a></li>
            <li><a href="#!">Reservación restaurante</a></li>
            <li><a href="#!">Minuta semanal</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Nuestra Historia</h2>
        <ul>
            <li><a href="#!">Ingresa aquí</a></li>
            <li><a href="#!">Consulta datos</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Nuestro Hostal</h2>
        <ul>
            <li><a asp-action="About">Misión</a></li>
            <li><a asp-action="About">Visión</a></li>
            <li><a asp-action="About">Nuestra historia</a></li>
        </ul>
    </div>
</div>